/* ------------------- Custom Input -------------------- */
.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  outline: none;
  display: block;
  width: 100%;
  height: 64px;
  padding: 0 24px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--title-color);
  background-color: #f4f4f4;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 100px;
  margin-bottom: 16px;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:focus {
    background-color: #fff;
    border-color: var(--accent-color);
  }

  &.error-input {
    background: #fff1f1;
    &::placeholder {
      color: #b63838;
    }
  }
}

@media (max-width: 480px) {
  .form-input {
    font-size: 16px;
    height: 56px;
    padding: 0 20px;
  }
}
